Query:
    type: object
    config:
        fields:
            npc:
                type: "NPC"
                args:
                    id:
                        type: "Int!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\NPCResolver').resolve(args['id'])"
            npcs:
                type: "[NPC!]!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\NPCResolver').resolveAll()"
            quest:
                type: "Quest"
                args:
                    id:
                        type: "Int!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\QuestResolver').resolve(args['id'])"
            quests:
                type: "[Quest!]!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\QuestResolver').resolveAll()"
              player:
                  type: "Player"
                  args:
                      id:
                          type: "Int!"
                  resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\PlayerResolver').resolve(args['id'])"
              players:
                  type: "[Player!]!"
                  resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\PlayerResolver').resolveAll()"
              skill:
                  type: "Skill"
                  args:
                      id:
                          type: "Int!"
                  resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\SkillResolver').resolve(args['id'])"
              skills:
                  type: "[Skill!]!"
                  resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\SkillResolver').resolveAll()"
            validateDialogChoice:
                type: "ValidationResult!"
                args:
                    npcId:
                        type: "Int!"
                    nodeId:
                        type: "Int!"
                    choiceId:
                        type: "Int!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\ValidationResolver').validateDialogChoice(args['npcId'], args['nodeId'], args['choiceId'])"

NPC:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            name:
                type: "String!"
            description:
                type: "String"
            dialogNodes:
                type: "[DialogNode!]!"

Quest:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            name:
                type: "String!"
            description:
                type: "String"
            objectives:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getObjectives())"
            rewards:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getRewards())"
            requirements:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getRequirements())"
            logicNodes:
                type: "[QuestNode!]!"

DialogNode:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            nodeType:
                type: "String!"
            text:
                type: "String"
            conditions:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getConditions())"
            positionX:
                type: "Float"
            positionY:
                type: "Float"
            connections:
                type: "[DialogConnection!]!"
                resolve: "@=value.getOutgoingConnections()"

DialogConnection:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            sourceNode:
                type: "DialogNode!"
            targetNode:
                type: "DialogNode!"
            choiceText:
                type: "String"
            conditions:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getConditions())"

QuestNode:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            nodeType:
                type: "String!"
            data:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getData())"
            conditions:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getConditions())"
            positionX:
                type: "Float"
            positionY:
                type: "Float"
            connections:
                type: "[QuestConnection!]!"
                resolve: "@=value.getOutgoingConnections()"

QuestConnection:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            sourceNode:
                type: "QuestNode!"
            targetNode:
                type: "QuestNode!"
            conditions:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getConditions())"

ValidationResult:
    type: object
    config:
        fields:
            valid:
                type: "Boolean!"
            message:
                type: "String"
            nextNodeId:
                type: "Int"
  Player:
      type: object
      config:
          fields:
              id: { type: "Int!" }
              tgUserId: { type: "String!" }
              displayName: { type: "String" }
              characters: { type: "[PlayerCharacter!]!" }

  PlayerCharacter:
      type: object
      config:
          fields:
              id: { type: "Int!" }
              name: { type: "String!" }
              level: { type: "Int!" }
              experience: { type: "Int!" }
              player: { type: "Player!" }
              class: { type: "PlayerClass!" }
              completedQuests: { type: "[Quest!]!" }
              skillProgress:
                  type: "[CharacterSkill!]!"
                  resolve: "@=value.getCharacterSkills()"
              availableSkills:
                  type: "[SkillAvailability!]!"
                  resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\PlayerResolver').resolveAvailableSkills(value)"

  PlayerClass:
      type: object
      config:
          fields:
              id: { type: "Int!" }
              name: { type: "String!" }
              description: { type: "String" }
              parent: { type: "PlayerClass" }
              children: { type: "[PlayerClass!]!" }
              skills: { type: "[Skill!]!" }

  CharacterSkill:
      type: object
      config:
          fields:
              id: { type: "Int!" }
              skill: { type: "Skill!" }
              unlockedAt:
                  type: "String!"
                  resolve: "@=value.getUnlockedAt().format('c')"

  Skill:
      type: object
      config:
          fields:
              id: { type: "Int!" }
              name: { type: "String!" }
              tier: { type: "String!" }
              description: { type: "String" }
              metadata:
                  type: "String"
                  resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getMetadata())"
              extraRequirements:
                  type: "String"
                  resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getExtraRequirements())"
              requiredLevel: { type: "Int" }
              positionX: { type: "Float" }
              positionY: { type: "Float" }
              requiredClasses: { type: "[PlayerClass!]!" }
              requiredQuests: { type: "[Quest!]!" }
              prerequisites: { type: "[Skill!]!" }
              dependents: { type: "[Skill!]!" }
              createdAt:
                  type: "String!"
                  resolve: "@=value.getCreatedAt().format('c')"
              updatedAt:
                  type: "String!"
                  resolve: "@=value.getUpdatedAt().format('c')"

  SkillAvailability:
      type: object
      config:
          fields:
              skill: { type: "Skill!" }
              canUnlock: { type: "Boolean!" }
              alreadyUnlocked: { type: "Boolean!" }
              reasons: { type: "[String!]!" }
