Query:
    type: object
    config:
        fields:
            npc:
                type: "NPC"
                args:
                    id:
                        type: "Int!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\NPCResolver').resolve(args['id'])"
            npcs:
                type: "[NPC!]!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\NPCResolver').resolveAll()"
            quest:
                type: "Quest"
                args:
                    id:
                        type: "Int!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\QuestResolver').resolve(args['id'])"
            quests:
                type: "[Quest!]!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\QuestResolver').resolveAll()"
            validateDialogChoice:
                type: "ValidationResult!"
                args:
                    npcId:
                        type: "Int!"
                    nodeId:
                        type: "Int!"
                    choiceId:
                        type: "Int!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\ValidationResolver').validateDialogChoice(args['npcId'], args['nodeId'], args['choiceId'])"
            player:
                type: "Player"
                args:
                    id:
                        type: "Int!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\PlayerResolver').resolve(args['id'])"
            playerByTgId:
                type: "Player"
                args:
                    tgUserId:
                        type: "String!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\PlayerResolver').resolveByTgUserId(args['tgUserId'])"
            players:
                type: "[Player!]!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\PlayerResolver').resolveAll()"
            skill:
                type: "Skill"
                args:
                    id:
                        type: "Int!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\SkillResolver').resolve(args['id'])"
            skills:
                type: "[Skill!]!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\SkillResolver').resolveAll()"
            characterClass:
                type: "CharacterClass"
                args:
                    id:
                        type: "Int!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\CharacterClassResolver').resolve(args['id'])"
            characterClasses:
                type: "[CharacterClass!]!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\CharacterClassResolver').resolveAll()"
            rootCharacterClasses:
                type: "[CharacterClass!]!"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\CharacterClassResolver').resolveRootClasses()"

NPC:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            name:
                type: "String!"
            description:
                type: "String"
            dialogNodes:
                type: "[DialogNode!]!"

Quest:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            name:
                type: "String!"
            description:
                type: "String"
            objectives:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getObjectives())"
            rewards:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getRewards())"
            requirements:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getRequirements())"
            logicNodes:
                type: "[QuestNode!]!"

DialogNode:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            nodeType:
                type: "String!"
            text:
                type: "String"
            conditions:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getConditions())"
            positionX:
                type: "Float"
            positionY:
                type: "Float"
            connections:
                type: "[DialogConnection!]!"
                resolve: "@=value.getOutgoingConnections()"

DialogConnection:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            sourceNode:
                type: "DialogNode!"
            targetNode:
                type: "DialogNode!"
            choiceText:
                type: "String"
            conditions:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getConditions())"

QuestNode:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            nodeType:
                type: "String!"
            data:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getData())"
            conditions:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getConditions())"
            positionX:
                type: "Float"
            positionY:
                type: "Float"
            connections:
                type: "[QuestConnection!]!"
                resolve: "@=value.getOutgoingConnections()"

QuestConnection:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            sourceNode:
                type: "QuestNode!"
            targetNode:
                type: "QuestNode!"
            conditions:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getConditions())"

ValidationResult:
    type: object
    config:
        fields:
            valid:
                type: "Boolean!"
            message:
                type: "String"
            nextNodeId:
                type: "Int"

Player:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            tgUserId:
                type: "String!"
            username:
                type: "String"
            characters:
                type: "[PlayerCharacter!]!"

PlayerCharacter:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            name:
                type: "String!"
            level:
                type: "Int!"
            characterClass:
                type: "CharacterClass!"
            unlockedSkills:
                type: "[Skill!]!"
            completedQuestIds:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getCompletedQuestIds())"
            inventory:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getInventory())"

CharacterClass:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            name:
                type: "String!"
            description:
                type: "String"
            parent:
                type: "CharacterClass"
            children:
                type: "[CharacterClass!]!"
            requirements:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getRequirements())"

Skill:
    type: object
    config:
        fields:
            id:
                type: "Int!"
            name:
                type: "String!"
            description:
                type: "String"
            parents:
                type: "[Skill!]!"
            children:
                type: "[Skill!]!"
            unlockConditions:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getUnlockConditions())"
            effects:
                type: "String"
                resolve: "@=service('App\\\\GraphQL\\\\Resolver\\\\JsonSerializerService').serialize(value.getEffects())"
            positionX:
                type: "Float"
            positionY:
                type: "Float"
